<%= form_for @donor_item do |d| %>
  <%= d.text_field :name %>
  <%= d.text_area :description, class: "tinymce" %>
  <%= tinymce %>
  <%= d.check_box :oversized %>
  <p></p>
  <%= d.submit %>
<% end %>