<%= form_for @donor_item do |d| %>
  <%= d.text_field :name %>
  <%= d.text_area :description, class: "tinymce" %>
  <%= tinymce %>
  <%= d.check_box :oversized %>
  <%= d.hidden_field :need_id, @need.id %>
  <p></p>
  <%= n.submit %>
<% end %>