<div class="row">
  <form class="search-form">
    <input class="search-input" name="search" type="search" autofocus
           value='<%= "#{params[:search]}" %>' placeholder="What item are you looking for?">
  </form>
  <br>
  <% if @donor_items.length > 0 %>
    <div id="infinite-scroll">
      <% @donor_items.each do |donor_item| %>
        <div class="infinite small-6 columns">
          <div class="item-container row">
            <div class="small-4 columns">
              <% if donor_item.image_url %>
                <%= image_tag donor_item.image_url, class: "mini-image" %>
              <% elsif donor_item.subcategory %>
                <%= image_tag donor_item.subcategory.category.icon, class: "mini-image" %>
              <% end %>
            </div>
            <div class="small-4 columns left">
              <h4><%= link_to donor_item.name, donor_item_path(donor_item), class: "item-link" %></h4>
              <% if donor_item.user && donor_item.user.name != "" %>
                <p><i>Donated by <%= donor_item.user.name %></i></p>
              <% end %>
              <% if current_user && current_user.facilitator %>
                <h5>Current Status: <%= ["Completed", "Confirmed", "Pending"][donor_item.awaiting_pickup] %></h5>
                <% if donor_item.awaiting_pickup == 2 %>
                  <%= link_to "Schedule Pickup", "/donor_items/logistics/#{donor_item.id}", class: "button alert small" %>
                <% elsif donor_item.awaiting_pickup == 1 %>
                  <%= link_to "Check Logistics", "/donor_items/logistics/#{donor_item.id}", class: "button alert small" %>
                <% elsif donor_item.awaiting_pickup == 0 && donor_item.thanks.blank? %>
                  <%= link_to "Thank the Donor", "/donor_items/logistics/#{donor_item.id}", class: "button alert small" %>
                <% else %>
                  <h5>All tasks complete!</5>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <nav id="page_nav">
      <a href="page2.html"></a>
    </nav>

  <% else %>
    <h4>There are no donations to show.</h4>
  <% end %>

</div>