<%= form_for @needed_item do |n| %>
  <%= javascript_include_tag 'prototype' %>
  <% @subcategory = subcategory %>
  <% unless subcategory %>
    <%= collection_select(nil, :category_id, @categories, :id, :name, {:prompt => "Select a Category"}, {:onchange => "#{remote_function(:url => {:action => "update_subcategories"}, :with => "'category_id='+value")}", :class => "category-dropdowns"}) %>
  <% else %>    
    <%= collection_select(nil, :category_id, @categories, :id, :name, {:selected => subcategory.category, :prompt => "Select a Category"}, {:onchange => "#{remote_function(:url => {:action => "update_subcategories"}, :with => "'category_id='+value")}", :class => "category-dropdowns"}) %>
  <% end %>
  <br>
  <div id="subcategories"><%= render :partial => 'subcategories', :object => @subcategories %></div>
  <%= n.text_field :name, id: "name-search", value: name %>
  <%= n.text_area :description, value: description, class: "tinymce" %>
  <%= tinymce %>
  <%= n.check_box :oversized %>
  <%= n.label "oversized", "This is an oversized item" %>
  <div id="search-images">
    <% if image_url %>
      <%= image_tag image_url, id: "current-image" %>
    <% end %>
  </div>
  <div class="row"></div>
  <p></p>
  <%= n.submit "Submit", class: "submit-item button success" %>
<% end %>