<%= form_for @needed_item do |n| %>
  <%= n.text_field :name, value: name %>
  <%= n.text_area :description, value: description, class: "tinymce" %>
  <%= tinymce %>
  <%= n.check_box :oversized, value: oversized %>
  <p></p>
  <%= n.submit %>
<% end %>