<div class="wrapper wrapper-darker">
	<div class="row">
		<div class="welcome-text">
			<h1><span id="page_heading" data-mercury="full"><%= raw @page.heading %></span></h1>
			<span id="page_caption" data-mercury="full"><%= raw @page.caption %></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-8 columns">
		<div class="row">
			<p class="opening"><span id="page_opening_1" data-mercury="full"><%= raw @page.opening_1 %></span></p>
				<div class="text-columns">
					<span id="page_content_1" data-mercury="full"><%= raw @page.content_1 %></span>
				</div>
		</div>
		<div class="row">
			<a href="" class="button large-6 columns">Donate</a>
			<a href="" class="button large-6 columns">Need Help?</a>
		</div>
		<div class="row">
			<h2><span id="page_subheading_2" data-mercury="full"><%= raw @page.subheading_2 %></span></h2>
				<p class="opening"><span id="page_opening_2" data-mercury="full"><%= raw @page.opening_2 %></span></p>
				<div class="text-columns">
					<span id="page_content_2" data-mercury="full"><%= raw @page.content_2 %></span>
		</div>
		<div class="row">
			<a href="" class="button large-6 columns">Visit the Site</a>
			<a href="" class="button large-6 columns">Need Help?</a>
		</div>
		</div>
	</div>
	<div class="large-4 columns">
	</div>
</div>

<%= render "/layouts/latest_news" %>