<div class="wrapper wrapper-darker">
  <div class="row">
    <div class="welcome-text">
      <h1><span id="page_heading" data-mercury="full"><%= raw @page.heading %></span></h1>
      <span id="page_caption" data-mercury="full"><%= raw @page.caption %></span>
    </div>
  </div>
</div>

<div class="row">

	<div class="large-8 columns">

    <h2><span id="page_subheading_1" data-mercury="full"><%= raw @page.subheading_1 %></span></h2>

    <span id="page_opening_1" data-mercury="full"><%= raw @page.opening_1 %></span>

		<form>

      <div class="row">
            <div class="large-6 columns">
              <label>Select a category</label>
              <select id="customDropdown">
                <option DISABLED>This is a dropdown</option>
                <option>This is another option</option>
                <option>This is another option too</option>
                <option>Look, a third option</option>
              </select>
            </div>
        </div>

      <div class="row">
            <div class="large-6 columns">
              <label>Select a sub-category</label>
              <select id="customDropdown">
                <option DISABLED>This is a dropdown</option>
                <option>This is another option</option>
                <option>This is another option too</option>
                <option>Look, a third option</option>
              </select>
            </div>
        </div>

			<div class="row">
      			<div class="large-12 columns">
        			<label>Title</label>
        			<input type="text" placeholder="Contact Name">
      			</div>
    		</div>

			<div class="row">
      			<div class="large-12 columns">
        			<label>Description</label>
        			<textarea placeholder="Description" rows="10"></textarea>
      			</div>
    		</div>

    		<input class="button large-6" type="submit" value="Donate">

    	</form>

	</div>

	<div class="sidebar large-4 columns">

		<div class="sidebar-feature">
			<h2><span id="page_subheading_2" data-mercury="full"><%= raw @page.subheading_2 %></span></h2>
      <span id="page_opening_2" data-mercury="full"><%= raw @page.opening_2 %></span>
      <p><a href="" class="more-link">Find out more</a></p>
		</div>

    <div class="sidebar-feature">
      <h2><span id="page_subheading_3" data-mercury="full"><%= raw @page.subheading_3 %></span></h2>
      <span id="page_opening_3" data-mercury="full"><%= raw @page.opening_3 %></span>
      <p><a href="" class="more-link">Find out more</a></p>
    </div>  

	</div>

</div>