
<!-- HEADER AREA -->
<div class="row">
    <header class="header">
        <a href="/"><h1 class="logo">Give In Kind</h1></a>
        <ul class="primary-nav">
            <% if !current_user || !current_user.facilitator %>
                <li><%= link_to "About Us", "/static/about_us" %></li>
                <li>
                    <a href="#">Browse</a>
                    <ul>
                        <li><%= link_to "Current Needs", needs_path %></li>
                        <li><%= link_to "Donations", donor_items_path %></li>
                    </ul>
                </li>
                <li><%= link_to "Needed Items", needed_items_path %></li>
                <li><%= link_to "Donate", new_donor_item_path %></li>
                <li><%= link_to "Blog", "/static/blog" %></li>
                <li><%= link_to "FAQs", "/static/faqs" %></li>
                <li><%= link_to "Donations", donor_items_path %></li>
                <li><%= link_to "Contact", "/static/contact" %></li>
            <% else %>
                <li><%= link_to "Donors to Thank", donor_items_path %></li>
                <li><%= link_to "Donations", donor_items_path %></li>
                <li><%= link_to "Browse Needs", needs_path %></li>
                <li><%= link_to "Needed Items", needed_items_path %></li>
                <li><%= link_to "Donate", new_donor_item_path %></li>
                <li><%= link_to "Contact", "/static/contact" %></li>
                <% if @static_path %>
                    <li><%= link_to "Edit Page", "/editor/static/#{@static_path}" %></li>
                <% end %>
            <% end %>
            <% if current_user %>
                <li><%= link_to "My Profile", profile_path(current_user) %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
                <li>
                    <a href="#">Sign In</a>
                    <ul>
                        <li><%= link_to "Sign in with Twitter", user_omniauth_authorize_path('twitter') %></li>
                        <li><%= link_to "Sign in with Facebook",user_omniauth_authorize_path('facebook') %></li>
                        <li><%= link_to "Sign in with LinkedIn",user_omniauth_authorize_path('linkedin') %></li>
                        <li><%= link_to "Sign in with Email", new_user_session_path, {:data => { :'reveal-id' => 'modalContainer', :'reveal-ajax' => "true"} } %></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Sign Up</a>
                    <ul>
                        <li><%= link_to "Sign up with Twitter", user_omniauth_authorize_path('twitter') %></li>
                        <li><%= link_to "Sign up with Facebook",user_omniauth_authorize_path('facebook') %></li>
                        <li><%= link_to "Sign up with LinkedIn",user_omniauth_authorize_path('linkedin') %></li>
                        <li><%= link_to "Sign up with Email", new_user_registration_path, {:data => { :'reveal-id' => 'modalContainer', :'reveal-ajax' => "true"} } %></li>
                    </ul>
              </li>
            <% end %>

        </ul>
    </header>
</div>