<!DOCTYPE html>
<html>
<head>
  <title>Giveinkind</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "/layouts/nav" %>
  
  <div <%= content_for :container_modifier %> class="container small-9 small-centered columns">
    <%= display_flash_messages %>
    <%= yield %>
    <div class="reveal-modal" id="modalContainer" style="display:hidden;"></div>
  </div>

</body>
</html>
